{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Přihlášení</h1>
</div>
<div class="card-body">
    {% if form.errors %}
    <div style="color:#aa2222">
        Neplatná kombinace uživatelského jména a hesla.
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>Uživatelské jméno</label>
        {{form.username}}
        <label>Heslo</label>
        {{form.password}}
        <br>
        <br>
        <input class="button" type="submit" value="Přihlásit">
    </form>
    <br>
    <p> Nemáte účet? <a href="{% url 'register' %}">Zaregistrujte se!</a></p>
</div>

{% endblock content %}